name: build

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 5.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build
      
    - name: Publish FanBento.Fetch
      run: dotnet publish -c Release
      working-directory: ./FanBento.Fetch
      
    - name: Publish FanBento.Website
      run: dotnet publish -c Release
      working-directory: ./FanBento.Website
      
    - name: Publish FanBento.TelegramBot
      run: dotnet publish -c Release
      working-directory: ./FanBento.TelegramBot
      
    - name: Upload FanBento.Fetch Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: FanBento.Fetch
        path: ./FanBento.Fetch/bin/Release/net5.0/publish
      
    - name: Upload FanBento.Website Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: FanBento.Website
        path: ./FanBento.Website/bin/Release/net5.0/publish
      
    - name: Upload FanBento.TelegramBot Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: FanBento.TelegramBot
        path: ./FanBento.TelegramBot/bin/Release/net5.0/publish
